.color-barra {
    background-color: $morado;
    height: 38px;
    margin-bottom: 5px;
    font-size: 12px;

}

.navbar{
    border: 0px; 
}



.navbar-default {
    background-color: transparent;
    border-color: transparent;
}


.nav.navbar-nav.navbar-right a {
    display: inline-block;
}


/*.navbar-default .navbar-nav > .active > a:after{
    display: block;
    content: "";
    border-top: 1.5px solid #715092;
    width: 100%;
    text-align: center;
    background-color: transparent;
}*/


.navbar-default .navbar-nav > .active > a span:after{
   display: inline-block;
    content: "";
    border-top: 1.5px solid #715092;
    width: 100%;
    text-align: center;
    background-color: transparent; 
}

/*.navbar-default .navbar-nav>.active>a:hover:after{
    display: inline-block;
    content: "";
    border-top: 1.5px solid #715092;
    width: 100%;
    text-align: center;
    background-color: transparent;
}*/



.navbar-default .navbar-nav>.active> a span:hover:after{
    display: inline-block;
    content: "";
    border-top: 1.5px solid #715092;
    width: 100%;
    text-align: center;
    background-color: transparent;
}

/*li.active a:after {
    display: inline-block;
    content: "";
    border-top: 1.5px solid #715092;
    width: 100%;
    text-align: center;
}*/


.navbar-default .navbar-nav > .active > a {
    color: $morado!important;
    background-color: #fff;
    
}



ul.nav.navbar-nav.navbar-right a {
    font-size: 16px;
}



.navbar-nav {
    /* margin: 7.5px 14px; */
    text-align: center;
}


.navbar-brand {
    margin-left: 21%;
    padding: 0px 0% 37%;
}


 .navbar-default .navbar-nav > .active > a:hover{
    background-color: transparent;
}


@media only screen and (min-width: 375px) {
.navbar-brand {
    margin-left: 21%;
    padding: 0px 7% 32%;
}
}


@media only screen and (min-width: 500px){
    .navbar-brand {
    margin-left: 21%;
    padding: 0px 13% 25%;
}
    
}

@media only screen and (min-width: 600px){
    .navbar-brand {
    margin-left: 21%;
    padding: 0px 15% 20%;
}

}





@media only screen and (min-width: 768px) {
 /*   .navbar-default .navbar-nav > .active > a:after {
     display: inline-block;
    content: "";
    border-top: 1.5px solid #715092;
    width: 100%;
    }
*/
    div#navbar {
        margin: 40px 0px;
    }

    a.navbar-brand {
        margin-left: 0%;
    }



    .color-barra {
        font-size: 10px;
    }

}




@media only screen and (min-width: 769px) {
div#navbar {
    margin: 21px 0px;
}
}



@media only screen and (min-width: 992px) {

    ul.nav.navbar-nav.navbar-right a {
        padding: 10px 53px;
        color: $plomo;

    }

    .color-barra {
        font-size: 14px;
    }
    
    
    
    

/*.navbar-default .navbar-nav > li > a :hover:after {
    display: inline-block;
    content: "";
    border-top: 1.5px solid #715092;
    width: 100%;
}*/
.navbar-default .navbar-nav > li > a span:hover:after {
    display: inline-block;
    content: "";
    border-top: 1.5px solid #715092;
    width: 100%;

    }
    
    
 /*   .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover:after {
          display: inline-block;
    content: "";
    border-top: 1.5px solid #715092;
    width: 100%;
    }

*/
}







