.is-widget #header .nav-wrapper{
    display: none!important;
}

#sb-timeline #steps #time-settings{
    display: none!important;
}

#sb-timeline #steps #time-settings {
   
    display: none!important;
    
}

#footer .copyright{
     display: none!important;
}

#main #main-content #sb_content #steps #time-settings .column{
    display: none!important;
}

nav#steps-nav {
   display: none!important;
}

.container-fluid.column {
  display: none!important;
}

header#header {
      display: none!important;
}





